{% extends 'user/basic.html' %}
{% block title %}{% endblock %}
{% block body %}


    <!-- Start banner section -->
    <section class="banner-section2 relative" id="banner-section">
        <div class="overlay overlay-bg"></div>
        <div class="container px-5">
            <div class="row align-items-center fullscreen">
                <div class="col-md-6 banner-left">
                    <h4>Your future carrier advisor...</h4> <br>
                    <!-- <a class="video-btn primary-btn" href="about-us.html">About More</a> -->
                    <div class="container px-5">
                        <div class="row">
                            <!-- <div class="col-4"> -->
                            <div class="dropdown col-4 p-0">
                                <button class="btn btn-secondary dropdown-toggle w-100" type="button" id="dropdownMenu6"
                                        data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false" style="height:40px;">
                                    Dropdown
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu6">
                                    <a class="dropdown-item" href="#">Regular link</a>
                                    <a class="dropdown-item active" href="#">Active link</a>
                                    <a class="dropdown-item" href="#">Another link</a>
                                </div>
                                <!-- </div> -->
                            </div>
                            <!-- <div class="col-8"> -->
                            <div class="bg-light rounded rounded-pill shadow-sm col-8 p-0" style="height:40px;">
                                <div class="input-group w-100">
                                    <input type="search" placeholder="What're you searching for?"
                                           aria-describedby="button-addon1" class="form-control border-0 bg-light">
                                    <div class="input-group-append">
                                        <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i
                                                class="fa fa-search"></i></button>
                                    </div>
                                </div>
                            </div>
                            <!-- </div> -->
                        </div>
                        <!-- <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search this blog">
                            <div class="input-group-append">
                                <button class="btn btn-secondary" type="button">
                                <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End banner section -->
    <!-- Start about section -->
    <section class="about-section section-gap-full relative" id="about-section">
        <div class="container px-5">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-6 col-md-6 about-left">
                    <img class="img-fluid" src="img/video.png" alt="">
                </div>
                <div class="col-lg-5 col-md-5 about-right">
                    <h3>About Us</h3>
                    <h1>All the Thinks you Need to know About Us</h1>
                    <p>
                        But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain
                        was born and I will give you
                        a complete account of the system, and expound the actual teachings of the great explorer of the
                        truth,
                        the master-builder of human happiness.
                    </p>
                    <a class="primary-btn" href="about-us.html">Know More</a>
                </div>
            </div>
        </div>
        <div class="floating-shapes">
                        <span data-parallax='{"x": 150, "y": -20, "rotateZ":500}'>
                            <img src="img/shape/fl-shape-1.png" alt="">
                        </span>
            <span data-parallax='{"x": 250, "y": 150, "rotateZ":500}'>
                            <img src="img/shape/fl-shape-2.png" alt="">
                        </span>
            <span data-parallax='{"x": -180, "y": 80, "rotateY":2000}'>
                            <img src="img/shape/fl-shape-3.png" alt="">
                        </span>
            <span data-parallax='{"x": -20, "y": 180}'>
                            <img src="img/shape/fl-shape-4.png" alt="">
                        </span>
            <span data-parallax='{"x": 300, "y": 70}'>
                            <img src="img/shape/fl-shape-5.png" alt="">
                        </span>
            <span data-parallax='{"x": 250, "y": 180, "rotateZ":1500}'>
                            <img src="img/shape/fl-shape-6.png" alt="">
                        </span>
            <span data-parallax='{"x": 180, "y": 10, "rotateZ":2000}'>
                            <img src="img/shape/fl-shape-7.png" alt="">
                        </span>
            <span data-parallax='{"x": 60, "y": -100}'>
                            <img src="img/shape/fl-shape-9.png" alt="">
                        </span>
            <span data-parallax='{"x": -30, "y": 150, "rotateZ":1500}'>
                            <img src="img/shape/fl-shape-10.png" alt="">
                        </span>
        </div>
    </section>
    <!-- End about section -->
    <!-- Start feature section -->
    <section class="feature-section section-gap-full" id="feature-section">
        <div class="container px-5">
            <div class="row align-items-center feature-wrap">
                <div class="col-lg-3 header-left">
                    <h1>
                        Top
                        <br> Institutions
                    </h1>
                    <a class="primary-btn" href="about-us.html">Know More
                        <span class="ti-arrow-right"></span>
                    </a>
                </div>
                <div class="col-lg-9">
                    <div class="row features-wrap">
                        <div class="col-md-3">
                            <div class="single-feature relative h-75">
                                <div class="overlay overlay-bg"></div>
                                <span class="ti-comments-smiley"></span>
                                <h6>Meet & Agree</h6>
                                <p>
                                    His many legs
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="single-feature relative h-75">
                                <div class="overlay overlay-bg"></div>
                                <span class="ti-light-bulb"></span>
                                <h6>Idea & Conceft</h6>
                                <p>
                                    His many legs
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="single-feature relative h-75">
                                <div class="overlay overlay-bg"></div>
                                <span class="ti-pencil-alt"></span>
                                <h6>Design & Creativity</h6>
                                <p>
                                    His many legs
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="single-feature relative h-75">
                                <div class="overlay overlay-bg"></div>
                                <span class="ti-import"></span>
                                <h6>Build & Install</h6>
                                <p>
                                    His many legs
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="single-feature relative h-75">
                                <div class="overlay overlay-bg"></div>
                                <span class="ti-comments-smiley"></span>
                                <h6>Meet & Agree</h6>
                                <p>
                                    His many legs
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="single-feature relative h-75">
                                <div class="overlay overlay-bg"></div>
                                <span class="ti-light-bulb"></span>
                                <h6>Idea & Conceft</h6>
                                <p>
                                    His many legs
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="single-feature relative h-75">
                                <div class="overlay overlay-bg"></div>
                                <span class="ti-pencil-alt"></span>
                                <h6>Design & Creativity</h6>
                                <p>
                                    His many legs
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="single-feature relative h-75">
                                <div class="overlay overlay-bg"></div>
                                <span class="ti-import"></span>
                                <h6>Build & Install</h6>
                                <p>
                                    His many legs
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="single-feature relative h-75">
                                <div class="overlay overlay-bg"></div>
                                <span class="ti-comments-smiley"></span>
                                <h6>Meet & Agree</h6>
                                <p>
                                    His many legs
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="single-feature relative h-75">
                                <div class="overlay overlay-bg"></div>
                                <span class="ti-light-bulb"></span>
                                <h6>Idea & Conceft</h6>
                                <p>
                                    His many legs
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="single-feature relative h-75">
                                <div class="overlay overlay-bg"></div>
                                <span class="ti-pencil-alt"></span>
                                <h6>Design & Creativity</h6>
                                <p>
                                    His many legs
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="single-feature relative h-75">
                                <div class="overlay overlay-bg"></div>
                                <span class="ti-import"></span>
                                <h6>Build & Install</h6>
                                <p>
                                    His many legs
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End feature section -->
    <!-- Start feature section -->
    <section class="feature-section section-gap-full" id="feature-section">
        <div class="container px-5">
            <div class="row align-items-center feature-wrap">
                <div class="col-lg-3 header-left">
                    <h1>
                        Top
                        <br> Courses
                    </h1>
                    <a class="primary-btn" href="about-us.html">Know More
                        <span class="ti-arrow-right"></span>
                    </a>
                </div>
                <div class="col-lg-9">
                    <div class="row features-wrap">
                        <div class="col-md-3">
                            <div class="single-feature relative h-75">
                                <div class="overlay overlay-bg"></div>
                                <span class="ti-comments-smiley"></span>
                                <h6>Meet & Agree</h6>
                                <p>
                                    His many legs
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="single-feature relative h-75">
                                <div class="overlay overlay-bg"></div>
                                <span class="ti-light-bulb"></span>
                                <h6>Idea & Conceft</h6>
                                <p>
                                    His many legs
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="single-feature relative h-75">
                                <div class="overlay overlay-bg"></div>
                                <span class="ti-pencil-alt"></span>
                                <h6>Design & Creativity</h6>
                                <p>
                                    His many legs
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="single-feature relative h-75">
                                <div class="overlay overlay-bg"></div>
                                <span class="ti-import"></span>
                                <h6>Build & Install</h6>
                                <p>
                                    His many legs
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="single-feature relative h-75">
                                <div class="overlay overlay-bg"></div>
                                <span class="ti-comments-smiley"></span>
                                <h6>Meet & Agree</h6>
                                <p>
                                    His many legs
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="single-feature relative h-75">
                                <div class="overlay overlay-bg"></div>
                                <span class="ti-light-bulb"></span>
                                <h6>Idea & Conceft</h6>
                                <p>
                                    His many legs
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="single-feature relative h-75">
                                <div class="overlay overlay-bg"></div>
                                <span class="ti-pencil-alt"></span>
                                <h6>Design & Creativity</h6>
                                <p>
                                    His many legs
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="single-feature relative h-75">
                                <div class="overlay overlay-bg"></div>
                                <span class="ti-import"></span>
                                <h6>Build & Install</h6>
                                <p>
                                    His many legs
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="single-feature relative h-75">
                                <div class="overlay overlay-bg"></div>
                                <span class="ti-comments-smiley"></span>
                                <h6>Meet & Agree</h6>
                                <p>
                                    His many legs
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="single-feature relative h-75">
                                <div class="overlay overlay-bg"></div>
                                <span class="ti-light-bulb"></span>
                                <h6>Idea & Conceft</h6>
                                <p>
                                    His many legs
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="single-feature relative h-75">
                                <div class="overlay overlay-bg"></div>
                                <span class="ti-pencil-alt"></span>
                                <h6>Design & Creativity</h6>
                                <p>
                                    His many legs
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="single-feature relative h-75">
                                <div class="overlay overlay-bg"></div>
                                <span class="ti-import"></span>
                                <h6>Build & Install</h6>
                                <p>
                                    His many legs
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End feature section -->
    <!-- Start feature section -->
    <section class="feature-section section-gap-full" id="feature-section">
        <div class="container px-5">
            <div class="row align-items-center feature-wrap">
                <div class="col-lg-3 header-left">
                    <h1>
                        Top
                        <br> Carriers
                    </h1>
                    <a class="primary-btn" href="about-us.html">Know More
                        <span class="ti-arrow-right"></span>
                    </a>
                </div>
                <div class="col-lg-9">
                    <div class="row features-wrap">
                        <div class="col-md-3">
                            <div class="single-feature relative h-75">
                                <div class="overlay overlay-bg"></div>
                                <span class="ti-comments-smiley"></span>
                                <h6>Meet & Agree</h6>
                                <p>
                                    His many legs
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="single-feature relative h-75">
                                <div class="overlay overlay-bg"></div>
                                <span class="ti-light-bulb"></span>
                                <h6>Idea & Conceft</h6>
                                <p>
                                    His many legs
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="single-feature relative h-75">
                                <div class="overlay overlay-bg"></div>
                                <span class="ti-pencil-alt"></span>
                                <h6>Design & Creativity</h6>
                                <p>
                                    His many legs
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="single-feature relative h-75">
                                <div class="overlay overlay-bg"></div>
                                <span class="ti-import"></span>
                                <h6>Build & Install</h6>
                                <p>
                                    His many legs
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="single-feature relative h-75">
                                <div class="overlay overlay-bg"></div>
                                <span class="ti-comments-smiley"></span>
                                <h6>Meet & Agree</h6>
                                <p>
                                    His many legs
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="single-feature relative h-75">
                                <div class="overlay overlay-bg"></div>
                                <span class="ti-light-bulb"></span>
                                <h6>Idea & Conceft</h6>
                                <p>
                                    His many legs
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="single-feature relative h-75">
                                <div class="overlay overlay-bg"></div>
                                <span class="ti-pencil-alt"></span>
                                <h6>Design & Creativity</h6>
                                <p>
                                    His many legs
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="single-feature relative h-75">
                                <div class="overlay overlay-bg"></div>
                                <span class="ti-import"></span>
                                <h6>Build & Install</h6>
                                <p>
                                    His many legs
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="single-feature relative h-75">
                                <div class="overlay overlay-bg"></div>
                                <span class="ti-comments-smiley"></span>
                                <h6>Meet & Agree</h6>
                                <p>
                                    His many legs
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="single-feature relative h-75">
                                <div class="overlay overlay-bg"></div>
                                <span class="ti-light-bulb"></span>
                                <h6>Idea & Conceft</h6>
                                <p>
                                    His many legs
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="single-feature relative h-75">
                                <div class="overlay overlay-bg"></div>
                                <span class="ti-pencil-alt"></span>
                                <h6>Design & Creativity</h6>
                                <p>
                                    His many legs
                                </p>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="single-feature relative h-75">
                                <div class="overlay overlay-bg"></div>
                                <span class="ti-import"></span>
                                <h6>Build & Install</h6>
                                <p>
                                    His many legs
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End feature section -->
    <!-- Start service section -->
    <section class="service-section section-gap-full">
        <div class="container px-5">
            <div class="section-title">
                <h2 class="text-center">Our Service</h2>
                <p class="text-center">Discover The Service We Provide</p>
            </div>
            <div class="row">
                <div class="col-lg-4  col-md-6 pb-30">
                    <div class="single-service h-100">
                        <i class="ti-user"></i>
                        <h4>Executive Admin</h4>
                        <p>
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid vel ipsum voluptas
                            molestias.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4  col-md-6 pb-30">
                    <div class="single-service h-100">
                        <i class="ti-announcement"></i>
                        <h4>Marketing Social Media</h4>
                        <p>
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid vel ipsum voluptas
                            molestias.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4  col-md-6 pb-30">
                    <div class="single-service h-100">
                        <i class="ti-bar-chart"></i>
                        <h4>Project Management</h4>
                        <p>
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid vel ipsum voluptas
                            molestias.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 ">
                    <div class="single-service h-100">
                        <i class="ti-palette"></i>
                        <h4>Design Service</h4>
                        <p>
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid vel ipsum voluptas
                            molestias.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 ">
                    <div class="single-service h-100">
                        <i class="ti-agenda"></i>
                        <h4>Book Keeping</h4>
                        <p>
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid vel ipsum voluptas
                            molestias.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 ">
                    <div class="single-service h-100">
                        <i class="ti-pencil-alt"></i>
                        <h4>Writing & Editing</h4>
                        <p>
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid vel ipsum voluptas
                            molestias.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End service section -->
    <!-- Start stat section -->
    <section class="stat-section section-gap-half">
        <div class="container px-5">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-stat">
                        <i class="ti-thumb-up"></i>
                        <h1>
                            <span class="counter">560</span>+</h1>
                        <h4>Projects Complete</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-stat">
                        <i class="ti-face-smile"></i>
                        <h1>
                            <span class="counter">236</span>+</h1>
                        <h4>Happy Customers</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-stat">
                        <i class="ti-paint-bucket"></i>
                        <h1>
                            <span class="counter">1432</span>+</h1>
                        <h4>Cup of coffee</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-stat">
                        <i class="ti-check-box"></i>
                        <h1>
                            <span class="counter">123</span>+</h1>
                        <h4>Satisfied Customer</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End stat section -->

    <!-- Start team section -->
    <section class="team-section section-gap-full">
        <div class="container px-5">
            <div class="section-title">
                <h2 class="text-center">Our Team</h2>
                <p class="text-center">Intoducing the Potential Team.</p>
            </div>
            <div class="row">
                <div class="team-carusel  owl-carousel" id="team-carusel">
                    <div class="single-team item">
                        <img class="img-fluid" src="img/team1.jpg" alt="">
                        <div class="team-content">
                            <h4>Foto Sushi</h4>
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="single-team item">
                        <img class="img-fluid" src="img/team2.jpg" alt="">
                        <div class="team-content">
                            <h4>Philipe Cavalcante</h4>
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="single-team item">
                        <img class="img-fluid" src="img/team3.jpg" alt="">
                        <div class="team-content">
                            <h4>Cristian Newman</h4>
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="single-team item">
                        <img class="img-fluid" src="img/team4.jpg" alt="">
                        <div class="team-content">
                            <h4>Conor Sexton</h4>
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="single-team item">
                        <img class="img-fluid" src="img/team5.jpg" alt="">
                        <div class="team-content">
                            <h4>Pete Bellis</h4>
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="single-team item">
                        <img class="img-fluid" src="img/team6.jpg" alt="">
                        <div class="team-content">
                            <h4>Tanja Heffner</h4>
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="single-team item">
                        <img class="img-fluid" src="img/team1.jpg" alt="">
                        <div class="team-content">
                            <h4>Foto Sushi</h4>
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="single-team item">
                        <img class="img-fluid" src="img/team2.jpg" alt="">
                        <div class="team-content">
                            <h4>Philipe Cavalcante</h4>
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="single-team item">
                        <img class="img-fluid" src="img/team3.jpg" alt="">
                        <div class="team-content">
                            <h4>Cristian Newman</h4>
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End team section -->
    <!-- Start testimonial section -->
    <section class="testimonial-section section-gap-full" id="testimonial-section">
        <div class="container px-5">
            <div class="row align-items-center">
                <div class="col-lg-4 testimonial-left">
                    <h2>What People Says</h2>
                    <p>
                        Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorperi.
                    </p>
                    <a class="primary-btn" href="contact.html">Contact Us
                        <span class="ti-arrow-right"></span>
                    </a>
                </div>
                <div class="col-lg-8 testimonial-right">
                    <div class="testimonial-carusel  owl-carousel" id="testimonial-carusel">
                        <div class="single-testimonial item">
                            <p>
                                “Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                laudantium, totam rem aperiam.”
                            </p>
                            <div class="user-details d-flex flex-row align-items-center">
                                <div class="img-wrap">
                                    <img src="img/avatar1.jpg" alt="">
                                </div>
                                <div class="details">
                                    <h4>Alice Johnson</h4>
                                    <p>Business Development</p>
                                </div>
                            </div>
                        </div>
                        <div class="single-testimonial item">
                            <p>
                                “Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                laudantium, totam rem aperiam.”
                            </p>
                            <div class="user-details d-flex flex-row align-items-center">
                                <div class="img-wrap">
                                    <img src="img/avatar2.jpg" alt="">
                                </div>
                                <div class="details">
                                    <h4>Amber Mcdonald</h4>
                                    <p>Web Developer</p>
                                </div>
                            </div>
                        </div>
                        <div class="single-testimonial item">
                            <p>
                                “Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                laudantium, totam rem aperiam.”
                            </p>
                            <div class="user-details d-flex flex-row align-items-center">
                                <div class="img-wrap">
                                    <img src="img/avatar3.jpg" alt="">
                                </div>
                                <div class="details">
                                    <h4>Rhonda Barnes</h4>
                                    <p>UI/UX Designer</p>
                                </div>
                            </div>
                        </div>
                        <div class="single-testimonial item">
                            <p>
                                “Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                laudantium, totam rem aperiam.”
                            </p>
                            <div class="user-details d-flex flex-row align-items-center">
                                <div class="img-wrap">
                                    <img src="img/avatar1.jpg" alt="">
                                </div>
                                <div class="details">
                                    <h4>Alice Johnson</h4>
                                    <p>Business Development</p>
                                </div>
                            </div>
                        </div>
                        <div class="single-testimonial item">
                            <p>
                                “Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                laudantium, totam rem aperiam.”
                            </p>
                            <div class="user-details d-flex flex-row align-items-center">
                                <div class="img-wrap">
                                    <img src="img/avatar2.jpg" alt="">
                                </div>
                                <div class="details">
                                    <h4>Amber Mcdonald</h4>
                                    <p>Web Developer</p>
                                </div>
                            </div>
                        </div>
                        <div class="single-testimonial item">
                            <p>
                                “Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                                laudantium, totam rem aperiam.”
                            </p>
                            <div class="user-details d-flex flex-row align-items-center">
                                <div class="img-wrap">
                                    <img src="img/avatar3.jpg" alt="">
                                </div>
                                <div class="details">
                                    <h4>Rhonda Barnes</h4>
                                    <p>UI/UX Designer</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End testimonial section -->
    <!-- Start blog section -->
    <section class="blog-section" id="blog-section">
        <div class="container px-5 blog-wrap section-gap-full">
            <div class="section-title">
                <h2 class="text-center">Our Recent Writings</h2>
                <p class="text-center">Discover The writing we Wrote</p>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6">
                    <div class="single-blog">
                        <div class="overlay overlay-bg"></div>
                        <img class="img-fluid" src="img/blog-post1.jpg" alt="">
                        <div class="blog-post-details">
                            <ul>
                                <li>
                                    <a href="#">Fashion</a>
                                </li>
                                <li>
                                    <a href="#">Music</a>
                                </li>
                            </ul>
                            <a href="single-blog.html">
                                <h4>Improved own provided blessing may peculiar domestic.</h4>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-blog">
                        <div class="overlay overlay-bg"></div>
                        <img class="img-fluid" src="img/blog-post2.jpg" alt="">
                        <div class="blog-post-details">
                            <ul>
                                <li>
                                    <a href="#">Fashion</a>
                                </li>
                                <li>
                                    <a href="#">Science</a>
                                </li>
                            </ul>
                            <a href="single-blog.html">
                                <h4>Ye on properly handsome returned throwing am no whatever.</h4>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="single-blog">
                        <div class="overlay overlay-bg"></div>
                        <img class="img-fluid" src="img/blog-post3.jpg" alt="">
                        <div class="blog-post-details">
                            <ul>
                                <li>
                                    <a href="#">Fashion</a>
                                </li>
                                <li>
                                    <a href="#">Development</a>
                                </li>
                            </ul>
                            <a href="single-blog.html">
                                <h4>In without wishing he of picture no exposed talking minutes.</h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-wrap text-center">
                <a href="blog.html" class="primary-btn">Read More</a>
            </div>
        </div>
    </section>
    <!-- End blog section -->



    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-36251023-1']);
        _gaq.push(['_setDomainName', 'jqueryscript.net']);
        _gaq.push(['_trackPageview']);
        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    </script>
{% endblock %}